accelerate
beautifulsoup4
bert_score
bitsandbytes
codecarbon
comet
ConfigParser
datasets
evaluate
fairseq
faiss_cpu
filelock
jsonlines
mosestokenizer
nltk
numpy
pandas
peft
py_rouge
pyemd
pytorch_pretrained_bert
rank_bm25
Requests
sacrebleu
sacremoses
scipy
sentence_transformers
sentencepiece
setuptools
six
tabulate
tqdm
transformers>=4.34.0
